.formulaire {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;

    form {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    &-texte, button {
        width: 50%;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
    }

    &-checkBox {
        width: 30%;
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 10px;

        input {
            width: 20px;
            height: 20px;
        }
    }

    button {
        background-color: yellowgreen;
        font-weight: bold;
        font-size: 1.1em;
    }
}



