form {
  display: flex;
  flex-direction: column;
  margin: 1em;
  margin-left: 15em;
  margin-right: 15em;
  padding-top: 1em;
  padding-bottom: 2em;
  max-width: 500px;
  align-items: center;
}

form a {
  margin-bottom: 5px;
}

label {
  font-weight: 500;
}

.inputs {
  margin-bottom: 0.5em;
}
#checkBoxBlock {
  display: flex;
  flex-direction: column;
  margin: 1em 7em 1em 1em;
}
.checkB {
  margin-bottom: 0.5em;
}
#newsletter {
  display: flex;
}
#rules {
  display: flex;
  cursor: pointer;
}

#submit {
  padding-left: 5em;
  padding-right: 5em;
}
