form {
  display: flex;
  flex-direction: column;
  margin: 1em;
  margin-left: 15em;
  margin-right: 15em;
  padding-top: 1em;
  padding-bottom: 2em;
  max-width: 500px;
  align-items: center;
}
.inputs {
  margin-bottom: 0.5em;
}
#checkBoxBlock {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 7em;
}
.checkB {
  margin-bottom: 0.5em;
}
#newsletter{
    display: flex;
    flex-direction: row;
}
#rules{
    display: flex;
    flex-direction: row;
}
#submit{
    padding-left: 4em;
    padding-right: 4em;
}