.header {
    width: 100%;
    height: auto;
    padding: 10px 0px;
    text-align: center;
    font-family: 'Alegreya SC', serif;
    font-family: 'Berkshire Swash', handwriting;
    font-size: 1.5em;
    color: green;
}